<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         cacheDirectory=".phpunit.cache/test-results"
>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
